* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.back {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back1 {
  width: 480px;
  min-height: 655px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.logo {
  width: 60px;
  height: 60px;
}
.emoji {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.word {
  color: #8e8e8e;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
.q1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 416px;
}
.firstName {
  color: black;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.od {
  color: red;
}
.firstInput {
  width: 416px;
  height: 44px;
  border: 1px solid #8b8e95;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.firstNameDiv {
  width: 416px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.continueBtn {
  width: 416px;
  height: 44px;
  background-color: black;
  color: white;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.q {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.q2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.errorfirst {
  color: red;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.backandnext {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.conBtn {
  width: 280px;
  height: 44px;
  background-color: black;
  color: white;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.backBtn {
  width: 128px;
  height: 44px;
  background-color: white;
  color: black;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #8b8e95;
}
.imageUpload {
  width: 416px;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.stepFour {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.q222 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 480px;
  height: 193px;
  background-color: white;
  border-radius: 5px;
}
.con {
  width: 416px;
  height: 129px;
}
.image {
  height: 20px;
  object-fit: cover;
  border: none;
  color: black;
}
.display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 5px;
  flex-direction: column;
}
.uploadedImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
}
.uploadedImageDisplay {
  width: 416px;
  height: 211px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: end;
  align-items: start;
}
.imageRemoveBtn {
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 100%;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}
.addImageWord {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.addImage {
  width: 30px;
  height: 30px;
}
